* {
  box-sizing: border-box;
}

.alert {
  background: linear-gradient(45deg, #fff, #fff);
  box-shadow: 0 4px 7px rgb(255, 255, 255, 0.5);
}

.error-message {
  font-size: 30px;
}

.suggestions, .possible-reasons {
  font-size: 20px;
}

.navbar {
  box-shadow: 0 4px 7px rgb(255, 255, 255, 0.1);
}

.navbar-brand span{
  background-color: red;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3), 
              0 10px 15px rgba(0, 0, 0, 0.3), 
              0 15px 25px rgba(0, 0, 0, 0.3), 
              0 20px 35px rgba(0, 0, 0, 0.3);

  transform: translateY(-2px);
}


#dropdownMenuButton3 {
  display: block;
  width: 160px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.7);
}

.dropdown-item, .nav-link {
  cursor: pointer;
}

.time-display {
  color: white;
  font-size: 1.5vw;
  width: fit-content;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 10px;
}

.time-container {
  width: 270px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media screen and (max-width: 992px) {
  .time-container {
    display: none;
  }
  #dropdownMenuButton3 {
    display: none;
  }
  .filter-display {
    display: none;
  }

  #logo {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 25px;
    padding: 20px;
  }

  .row {
    margin-top: 75px;
  }
  
}

.row {
  margin-top: 100px;
}

#root, body, .outer-div {
  background-color: #030303;
  width: 100%;
  overflow-x: hidden;
  
}

.filter-display {
  color: white;
  font-size: 12px;
  width: 150px;
}

.filter-display span {
  color: gold;
}

.loading {
  color: blanchedalmond;
  font-size: larger;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

body {
  background-color: #030303;
  padding-top: 65px;
}

::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

/* The track (background) of the scrollbar */
::-webkit-scrollbar-track {
  background: #0d6efd; 
  border: 1px solid #0d6efd;
}

/* The draggable part of the scrollbar */
::-webkit-scrollbar-thumb {
  background: white; 
  border-radius: 16px; /* Rounded corners */
}

/* On hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}